body {
  background-color: black !important;
}

.ui.topmenu.menu {
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ui.topmenu.menu .item {
  color: white;
}

.footer {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  color: grey;
}
